<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <%- include('../css/style.ejs') %>
</head>

<body>
    <div class="container my-5 text-center">
        <h1><strong>Youtube Downloader</strong></h1>
        <form method="GET" action='/download' class="my-5">
            <div class="form-group">
                <label for="exampleInputEmail1">↓↓↓ Mettre l'URL de la vidéo dans le champ ci-dessous ↓↓↓</label
						>
					<input
					type="text"
					class="form-control"
					placeholder="Lien de la vidéo à mettre ici"
					name="url"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Continuer vers le choix du format de téléchargement</button>
			</form>
		</div>
	</body>
</html>